/* #112233 #223344 #556699 #aabbee */

html {
  background: #aabbee;
}

body {
  font-family: sans-serif;
  background: #fff;
  margin: 50px 100px;
  padding: 50px;
  color: #222;
  border-radius: 25px;
  -moz-border-radius: 25px;
}

h1, h2 {
  color: #112233;
}

p {
    text-align: justify;
}

a {
  color: #556699;
}

.code {
  font-family: monospace;
}
