/* #112233 #223344 #556699 #aabbee */

html {
  background: #aabbee;
}

body {
  font-family: sans-serif;
  background: #fff;
  margin: 50px 100px;
  padding: 50px;
  background-image: url(static/topleft.gif), url(static/topright.gif), url(static/bottomleft.gif), url(static/bottomright.gif);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  /*
  border-radius: 25px;
  -moz-border-radius: 25px;
  */
}

h1, h2 {
  color: #112233;
}

p {
    text-align: justify;
}

a {
  color: #556699;
}

.code {
  font-family: monospace;
}
