/* #112233 #223344 #556699 #aabbee */

html {
  background: #67452e;
}

body {
  font-family: sans-serif;
  margin: 50px 150px;
}

h1, h2 {
  color: #aa6342;
}

p {
    text-align: justify;
}

a {
  color: #bc866c;
}

.code {
  font-family: monospace;
}

.myBox {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 50px;
  background-color: #fefaf2;
}
